

* {
    margin: 0;
}

body {
    background-color: #076AE0;
    font-family: 'Bebas Neue', cursive;
}

header {
    display: flex;
}

nav {
    display: flex;
    flex: auto;
}

 a {
    list-style: none;
    text-decoration: none;
    color: white;
    
}

.one, .two, .three, .four {
    margin-right: 40px;
    font-size: 24px;
    

}

ul {
    display: flex;
    margin-top: 50px;
    
}

.right {
    display: flex;
    padding-left: 5px;
}

.image {
    display: flex;
    height: 150px;
    width: 150px;
    flex: auto;
    padding-right: 15px;
    margin-top: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: flex;
}

.hi, .name {
    color: white;
}

main {
    padding-left: 40px;
   
    
}

.h1 {
    font-size: 24px;
    
    
}

.name {
    font-size: 80px;
}

.description {
    color: white;
    font-size: 24px;
}

.personal {
    color: white;
    font-size: 24px;
    padding-top: 20px;
}

footer {
  background-color: gray;
  margin-top: 199px;
  display: flex; 
}

.copyright {
    padding-left: 590px;
}
