* {
    margin: 0;
}

.background {
    background-image: url(../images/column.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    font-family: 'Bebas Neue', cursive;
    padding-bottom: 0px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    font-size: 24px;
    padding: 35px;
    padding-top: 60px;
    padding-right: 30px;
}

.logo {
    color: white;
    font-size: 50px;
    flex: auto;
    padding: 30px;
    padding-top: 40px;
}

nav {
    display: flex;
}

.one , .two, .three, .four {
    padding-left: 20px;   
}

.hero-small,.hero-big{
    text-align: center;
    justify-content: center;
    color: white;
    
}

.hero-small {
    font-size: 24px;
    padding-right: 380px;
}

.hero-big {
    font-size: 100px;
}

.hero {
    margin-top: 80px;
    padding-right: 280px;
}

.block {
    background-color: #292724;
    padding-top: 20px;
    margin-top: 180px;
    text-align: center;
}

#about-me {
    color: white;
    text-align: center;
    font-size: 48px;
}

footer {
    background-image: url(../images/forest.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 400px;
}

.about-me-text {
   color: #A9A297;
   font-size: 25px;
   font-family: sans-serif;
}

.blockf {
    background-color: #292724;
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

#contact {
    font-size: 48px;
    padding-top: 20px;
}

.email {
    padding-top: 20px;
    font-size: 30px;
    color: #93cfa3;
}

.number {
    padding-top: 20px;
    font-size: 30px;
    color: #93cfa3;
}

.phone {
    max-width: 30px;
    max-height: auto;
    padding-right: 10px; 
}

.git, .linkedin {
    max-height: auto;
    padding-top: 30px;
}

.linkedin {
    max-width: 70px;
    padding-left: 20px;
}

.about-return {
    padding-top: 300px;
    padding-bottom: 20px;
    font-size: 30px;
    
}

.contact-return,a {
    font-size: 30px;
    padding-top: 20px;
}