* {
    margin: 0;
}

body {
    padding-bottom: 200px;
    background-image: url(../images/renart2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bebas Neue', Cursive;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    font-size: 30px;
    padding: 35px;
    padding-top: 60px;
    padding-right: 30px;
}

.logo {
    color: white;
    font-size: 50px;
    flex: auto;
    padding: 30px;
    padding-top: 40px;
}

nav {
    display: flex;
}

.one , .two, .three, .four {
    padding-left: 20px;   
}

.block {
    background-color: #292724;
    text-align: center;
    margin-top: 180px;
    padding-bottom: 20px;
}

.work {
    color: white;
    font-size: 48px;
}

.personal {
    font-size: 38px;
    color: white;
    padding-top: 30px;
    padding-right: 25em;
}

.personal-picture {
    max-height: auto;
    max-width: 800px;
    padding-right: 25em;
}

.personal-text {
    padding-right: 39em;
    color: white;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}